.landing-page {
  width: 100%;
  min-height: 100vh;
  
  section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    
    @media (max-width: 768px) {
      min-height: auto;
      padding: 60px 0;
    }
  }
}